/* css */
/* 1- pre-loader */
.loader_bg {
  position: fixed;
  z-index: 999999999999;
  background:#FFF;
  width: 100%;
  height: 100%;
}
.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top:calc(50vh - 75px);
  left:calc(50vw - 75px);
}
.loader::before, .loader::after {
  content: '';
  border: 1em solid #46b0da;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation:loader 2s linear infinite;
  opacity: 0;
}
.loader::before {
  animation-delay: .5s;
}
@keyframes loader {
  0% {
    transform:scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;

  }
  100% {
    transform:scale(1);
    opacity: 0;
  }

}
/* 2- scroll */
::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #29ABE2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #0071BC; 
  box-shadow: inset 0 0 6px rgba(#FFF,0.4); 
}
* , p , h1 , h2 , h3 , h4 , h5 {
  margin:0 ; 
  padding: 0;
  box-sizing: border-box;
}
.english {
  font-family: 'Montserrat', sans-serif;
}
.arabic {
  font-family: 'cairo', sans-serif;
}
.main-pic-size {
  height: 403px;
  width: 723px;
}
.title-page {
  text-align: center;
  margin-bottom: 80px;
  margin-top: 80px;
  font-family: 'Raleway', sans-serif;
}
.title-page h2 {
  font-size: 30px;
  color: #0071BC;
  line-height: 34px;
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}
.title-page p {
  font-size: 14px;
  color: #666666;
  line-height: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

ul li {
  display: inline-block;
}
.text-primary {
  color: #35A6FD !important;
}
.start {
    margin-left: 5px;
    border-radius: 5px;
}
.header-top {
  background-color: #29ABE2;
  color: #fff;
  height: 45px;
  padding-top: 5px;
}
.header-top a {
  color:#FFF
}
.lounder {
  font-family: 'Karla',sans-serif;
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 20px;
  color:#8a8a8a;
  line-height: 16px;
}
.phone {
  color: #22bcff;
  font-size: 26px;
  font-weight: 700;
}
.mobile {
  display: none;
}
.slider {
  background-image: url("../images/homeslide.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
}
.slider_content {
  padding-top:180px;
}
.slider-content__title {
  font-size: 32px;
  line-height: 4rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

.solution,.solution-ar {
  font-size: 30px;
  color: #fff;
  line-height: 42px;
  font-family: 'raleway', sans-serif;
  font-weight: 900;
  text-transform: capitalize;
}
.solution-ar {
  font-family: 'cairo', sans-serif;
}
.appointments {
  margin-top: -194.5px;
}
.appointments_card {
  width: 100%;
  padding: 30px 0px 35px 0px;
  background-color: #85DBFF;
  font-family: 'Montserrat', sans-serif;
}
.appointments_card i {
  border-width: 0px;
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
}
.appointments_card h5 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  margin-top:13px ;

}
.appointments_card h2 {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  margin-top:13px ;
}
.moov {
  background-color: #0071BC;
}
.orange {
  background-color: #29ABE2;

}
.why-we , .gallery ,.open {
    margin-top: 15rem;
}
.needs {
  padding-bottom: 6rem;
  margin-top: 9rem;

} 
.needs , .open {
    background-color: #f5f9fa;
}
footer {
    margin-top: 90px; 
    background-color : #dde3eb;
    padding-top: 30px;
}
.social {
    margin-top: 15px;
}
.social i {
    font-size: 20px;
    margin-right: 2px;
    margin-left: 2px;
    color:#41B6E6
}
.footer4soft {
    font-size: 14px;
    text-align: center;
}

/**** Form Page ****/
.card-box-color {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-shadow: 0px 0px 62px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 62px 0px rgba(0, 0, 0, 0.07);
  }
  
  .card-box-content {
    padding: 65px 90px 45px;
    width: 100%;
    background-color: #fff;
  }
  
  .card-box-header {
    margin-bottom: 25px;
  }
  .card-box-header p {
    color: #999898;
    margin-top: 0.5rem;
  }
  
  .card-box-form .input {
    font-size: 16px;
    color: #d5d5d5 !important;
  }
  .card-box-form .form-control {
    min-height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #e7e7e7;
    padding: 10px 15px;
    color: #111;
  }
  
  .label {
    color: #999898;
    margin-top: 1rem;
  }
  
  .btn-fill {
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: 0;
    color: #fff !important;
    border-radius: 3px;
    padding: 10px 36px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .card-box-style-inline {
    overflow: hidden;
    text-align: center;
  }
  .card-box-style-inline h3 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 20px;
    color: #a4a4a4;
    display: inline-block;
    position: relative;
    padding: 0 25px;
    z-index: 1;
  }
  .card-box-style-inline h3::before {
    display: inline-block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #ebebeb;
    left: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
  }
  .card-box-style-inline h3::after {
    display: inline-block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #ebebeb;
    right: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
  }
  
  .form-socials {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 20px;
  }
  .form-socials li {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
  }
  .form-socials li a {
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    font-size: 14px;
    height: 45px;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .form-socials i {
    border-radius: 2px 0 0 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 45px;
    height: 45px;
  }

  /** Services Section **/
  .services-content h5 {
    font-size: 18px;
    color: #333333;
    line-height: 22px;
    font-family: raleway, sans-serif;
    font-weight: 700;
  }
  .services-content p {
    font-size: 14px;
    color: #666;
    font-family: raleway, sans-serif;
    margin-top: 7px;
  }
  @media (max-width: 998px) {
    .img-box {
        width: 100%;
    }
    .download {
      padding-top: 1rem !important;
    }
    .logo {
      padding-top: 50px;
      text-align: center;
    }
    .slider__content-con {
      padding-top: 10px;
    }
    .nav-social {
      display: none;
    }
    .our-services {
      display: none;
    }
    .header-top {
      height: auto;
    }
    .mob-link {
      display: none;
    }
    .phone {
      font-size: 17px;
    }
    .download-img {
      width: 100px !important;
    }
  
  }  
@media (max-width: 768px) {
    .img-box {
        width: 100%;
    }
    .download {
      padding-top: 1rem !important;
    }

    .slider_content {
      text-align: center;
    }

}

@media (max-width: 576px) {
  .img-box {
      width: 100%;
  }
  .download {
    padding-top: 1rem !important;
  }
  .responsive-link {
    display:none
  }
  .title-page h2 {
    font-size: 16px;
  } 
  .not-mobile {
    display: none;
  }
  .mobile {
    display: block;
    padding-top: 10px;
  }

  .appointments {
    margin-top: -160.5px;
  }
}
